PORT=3000
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=somename
POSTGRES_PASSWORD=somepassword 
POSTGRES_DB=database
JWT_SECRET=somesecret
PGDATA=/data/postgres
JWT_TTL=30000


SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=barballs72.ru@mail.ru
SMTP_PASSWORD=your-smtp-password
EMAIL_FROM=barballs72.ru@mail.ru
ORDER_NOTIFICATION_EMAIL=barballs72.ru@mail.ru

HOST=https://api.barballs72.ru